html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    
}
a {
    display: inline-block;
    text-decoration: none;
    color: $text;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}


.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
    background-color: $grey;
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-style: 15px;
    line-height: 24px;
    color: $text;
    font-family: "Roboto-Regular", sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.breadcrumbs{
 &__inner {
     padding: 45px 0 40px;
 }
 &__list {
     li {
         display: inline-block;
         position: relative;
        
         & + li {
            padding-left: 24px;
            &::before {
                position: absolute;
                content: "-";
                color: $green;
                left: 8px;
            } 
         }
         &:last-child {
            a, span{ color: $bg;}
         }
     }

     a {
         color: #b0bec5;
     }
 }
}


